@media screen and (max-width: 700px){
body {
margin-left:0;
background: #ffffff;
min-height:100%;  /* <-- fixes the background-color issue when content grows */
color: #121212;
font-family: 'Montserrat', 'courier';
  }
  
header {
position:fixed; /* <-- fixes the left panel to prevent from scrolling */
top:0;
left:0;
width:100%;
height:20%;
background:#121212;
  }

#titre{
  padding-top: 100px;
  margin-top: 110px;
  height: 28%;
}

#menuburger{
  display: block;
  position: absolute;

}




h1{ /*Recherche formation*/
font-size: 16px;
text-align: center;
padding: 0;
margin: 0;
}

h2{/*Nom et prénom alignés à gauche*/
font-family: 'Montserrat','courier';
color: #ffffff;
font-size: 15px;
text-align: center;
padding-top: 10%;
padding-left: 0;

}

h5{ /*objectifs*/
  font-size: 10px;
  text-align: center;
  margin: 20% 5% 1% 5%;
  letter-spacing: 1px;
  padding: 0;
  margin: 60px 0;
  font-weight: 800;
  }



#boutoncta{
  background-image: linear-gradient(-90deg, #FD9B73, #FEB89C );
  border:none;
  border-radius:7px;
  margin: 10px 0 0 80px;
  
}
  
  
#boutoncta a{ 
font-family: 'Montserrat','Pacifico';
font-size: 12px;
letter-spacing: 1.5px;
font-weight : bold;
text-align: center;
color: white;
text-decoration: none;
}


nav{
display: none;
}

.menu{
font-family: 'Montserrat','courier';
font-size: 10px;
color: #D7D6D6;
text-decoration: none;
letter-spacing: 1px; 
}

.bordure_verticale_jobs{
  display: none;

  }
#bordure_verticale_formation{
  display: none;

  }

.trait_dessus{ /*trait decoration au dessus prénom+nom)*/
    display: none; 
  }
    
.trait_dessous{ /*trait decoration au dessus prénom+nom)*/
    display: none;
  }

#block_expériences {
  background-color: #FDE3D8;
  padding: 80px 0px 380px 10px;
  text-align: center, justify;
  height: 400px;
  font-size: 12px;

    }
  
.logomenu{
width: 30px;
}

#datejobs {
float: left;
width: 20%;
margin-left: 20px;
margin-right: -13%;
padding-top: 20px;
line-height: 5.5;
font-size: 12px;

}

#block_formations {

background-color: #C1E0E6;
padding: 80px 10px 100px 10px;
font-size: 12px;

}

#datesformations {

float: left;
width: 20%;
margin-right: 5%;
line-height: 2.5;
font-size: 10px;
padding-top: 0.5%;
padding-left: 6%;
}

#block_je_sais_faire {

  background-color: #C5D8E9;
  padding: 10px 10px 450px 10px;
  font-size: 10px;
  line-height: 1.5;
  height: 374px;

}

#savoir-faire {

  float: left;
  width: 100%;
  margin: 0;
  padding-top: 3%;

}

#savoir-être {

  float: left;
  width: 100%;
  margin: 0;
  padding-top: 4%;
}

#logiciels {

  text-align: justify;
  float: left;
  width: 100%;
  height: 20%;
  margin: 0;
  padding-bottom: 20%;

}

#langues {

  float: left;
  width: 50%;
  margin: 0;
  padding-top: 50px;
}

#qualifications {

  float: left;
  width: 50%;
  margin: 0;
  padding-top: 50px;

}
#block_créations {

  background-color: #C7CAEB;
  padding: 10% 10%;
  font-size: 12px;

}

